<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @competence.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @competence.author %>
</p>

<%= link_to 'Edit', edit_competence_path(@competence) %> |
<%= link_to 'Back', competences_path %>
